---
import BaseLayout from '../layouts/BaseLayout.astro';
import Socials from '../components/Socials.astro';
import '../styles/global.css';
---

<BaseLayout pageTitle="About Me" showBackButton={true}>
    <p>
        Hey, my name is Noel. <span class="pronouns">(they/them)</span><br/>
        I am a passionate software developer living in Germany.
        I was born in Spain but have been living in Germany for over half of my life.
        (Funly enough, English is actually my most used language by far!)<br/>
        I started out learning 2D/3D digital art around 2020, specifically oriented towards
        video games, but eventually became most interested in programming and computer science
        in general. Currently, I am a post-core-curriculum student at <a href="https://www.42heilbronn.de/en/learning-model/">42Heilbronn</a>,
        about half way through my internship at Audi Sport at the time of writing this.<br/>
        My biggest hobby is electronic music production, which I have been doing for about 5 years.
        I will include more music-related stuff here in the future.<br/>
        <br/>
        Feel free to get in contact via these:<br/>
    </p>
	<Socials />
</BaseLayout>

<style>
    .pronouns {
        background: linear-gradient(45deg, #f5d142, #ffffff, #b084f5, #111111);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-left: 0.35rem;
        font-size: 0.9em;
    }
</style>
