---
import BaseLayout from '../layouts/BaseLayout.astro';
import Socials from '../components/Socials.astro';
import '../styles/global.css';
---

<BaseLayout pageTitle="About" showBackButton={true}>
    <p>
        My name is Noel (KixiK is my alias), I am a passionate software developer living in Germany.
        I was born in Spain but have been living in Germany for over half of my life.
        Despite this, English is actually by far my most used language.<br/>
        I started out with 2D and 3D digital art around 2021, specifically oriented towards
        video games, but eventually became most interested in Programming and Computer Science
        in general. Currently, I am a post-core-curriculum student at <a href="https://www.42heilbronn.de/en/learning-model/">42Heilbronn</a>,
        about half way through my internship at the time of writting this.<br/>
        My biggest hobby is electronic music production, which I have been doing for about 5 years.
        I will add more relating to my music here in the future.<br/>
        <br/>
        Feel free to get in contact via these:<br/>
    </p>
	<Socials />
</BaseLayout>
