---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Socials from "../../components/Socials.astro";
import "../../styles/global.css";
---

<BaseLayout pageTitle="Über mich" showBackButton={true} lang="de">
    <p>
        Hey, ich heiße Noel. <span class="pronouns">(they/them)</span><br/>
        Ich bin ein 24-jähriger leidenschaftlicher Softwareentwickler und lebe in Deutschland.
        Geboren wurde ich eigentlich in Spanien, aber ich lebe inzwischen seit mehr als der Hälfte meines Lebens in Deutschland.
        Lustigerweise ist Englisch mit Abstand die Sprache, die ich am häufigsten benutze!<br/>
        Angefangen habe ich etwa 2020 mit dem Lernen von digitaler 2D- und 3D-Kunst und habe anschließend eine duale Ausbildung in 3D-Animation und Spieleentwicklung abgeschlossen.
        Während meiner Ausbildung entwickelte ich das größte Interesse an Programmierung und Informatik im Allgemeinen.<br/>
        Aktuell bin ich Absolvent des Core Curriculums von <a href="https://www.42heilbronn.de/en/learning-model/">42Heilbronn</a>
        und befinde mich zum Zeitpunkt des Schreibens etwa auf halber Strecke eines Vollzeitpraktikums bei Audi Sport
        (und bin auf der Suche nach einen Arbeitsplatz für die Zeit danach).<br/>
        Mein größtes Hobby ist die Produktion elektronischer Musik, der ich seit etwa fünf Jahren nachgehe.
        In Zukunft werde ich hier auch mehr musikbezogene Inhalte hinzufügen.<br/>
        <br/>
        Du kannst mich gerne über folgende Links kontaktieren:<br/>
    </p>
    <Socials />
</BaseLayout>

<style>
    .pronouns {
        background: linear-gradient(45deg, #f5d142, #ffffff, #b084f5, #111111);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-left: 0.35rem;
        font-size: 0.9em;
    }
</style>
