---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Socials from "../../components/Socials.astro";
import "../../styles/global.css";
---

<BaseLayout pageTitle="Sobre mí" showBackButton={true} lang="es">
    <p>
        Hola, me llamo Noel. <span class="pronouns">(they/them)</span><br/>
        Soy un desarrollador de software apasionado y vivo en Alemania.
        Nací en España, pero he vivido en Alemania durante más de la mitad de mi vida.
        (¡Curiosamente, el inglés es con diferencia el idioma que más uso!)<br/>
        Empecé a aprender arte digital 2D/3D alrededor de 2020 orientado a los videojuegos,
        pero con el tiempo me interesé más por la programación y la informática en general.
        Actualmente soy estudiante de post-core-curriculum en <a href="https://www.42heilbronn.de/en/learning-model/">42Heilbronn</a>,
        y al momento de escribir esto voy por la mitad de mi practicas en Audi Sport.<br/>
        Mi mayor hobby es la producción de música electrónica, que llevo haciendo desde hace unos 5 años.
        Incluiré más cosas relacionadas con la música aquí en el futuro.<br/>
        <br/>
        No dudes en contactarme a través de:<br/>
    </p>
    <Socials />
</BaseLayout>

<style>
    .pronouns {
        background: linear-gradient(45deg, #f5d142, #ffffff, #b084f5, #111111);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-left: 0.35rem;
        font-size: 0.9em;
    }
</style>
