---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Socials from "../../components/Socials.astro";
import "../../styles/global.css";
---

<BaseLayout pageTitle="Sobre mí" showBackButton={true} lang="es">
    <p>
        Hola, me llamo Noel. <span class="pronouns">(they/them)</span><br/>
        Soy un programador apasionado de 24 años viviendo en Alemania.
        En realidad nací en España, pero he vivido en Alemania durante más de la mitad de mi vida.
        Curiosamente, ¡el inglés es, con diferencia, el idioma que más utilizo!<br/>
        Empecé aprendiendo arte digital en 2D y 3D alrededor de 2020 y completé una formación profesional dual en Animación 3D y Desarrollo de Videojuegos.
        Durante mis estudios, lo que más me interesó fue la programación y la informática en general.<br/>
        Actualmente soy graduado del currículo principal de <a href="https://www.42heilbronn.de/en/learning-model/">42Heilbronn</a> y,
        en el momento estoy a mitad de unas prácticas a tiempo completo en Audi Sport
        (y buscando empleo para después de terminarlas).<br/>
        Mi mayor afición es la producción de música electrónica, algo que llevo haciendo desde hace unos 5 años.
        En el futuro incluiré aquí más contenido relacionado con la música.<br/>
        <br/>
        No dudes en contactarme a través de:<br/>
    </p>
    <Socials />
</BaseLayout>

<style>
    .pronouns {
        background: linear-gradient(45deg, #f5d142, #ffffff, #b084f5, #111111);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-left: 0.35rem;
        font-size: 0.9em;
    }
</style>
